.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
width: 150px; /* Main Menu Item widths */
list-style-type: none;
font: bold 12px Verdana;
border-bottom: 1px solid #ccc;
color: #3a73b8;
}
 
.ddsmoothmenu-v ul li{
position: relative;color:#3a73b8;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color:#3a73b8;
text-decoration: none;
padding: 1px 0 0 10px;
/*border-bottom: 1px solid #778;
border-right: 1px solid #778;*/
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
/*background: #414141; background of menu items (default state)*/
color:#3a73b8; background:#fff; border-bottom:1px #ccc solid;font-weight:normal;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#fff; 
color: #3a73b8;font-weight:normal;
}

.ddsmoothmenu-v ul li a:hover{
/*background of menu items during onmouseover (hover state)*/
color: #3a73b8;
font-weight:normal;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 150px; /*Sub Menu Items width */
top: 0;
left:-100px;
font-weight: normal;
visibility: hidden;border:1px #ccc solid;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */

/*.clearfix:after{content:"&nbsp;";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}

.menuProduct{ width:150px; height:26px; background:#fff;}
.menusel{width:100px; position:relative; height:25px; background:#ddd; line-height: 25px; margin-left: 1px; *margin-left: 0px;_margin-left: -1px;}
.menusel h2{ font-size:12px; }
.menusel a{ display: block;text-align:center; width:100px;border:1px solid #a4a4a4; height:25px; border-bottom:1px solid #a4a4a4; position:relative; z-index:2;}
.menusel a:hover{ border:1px solid #a4a4a4; border-bottom:1px dashed #eeeeee; position:relative; z-index:2; height:25px;}
.ahover a{border-bottom:1px dashed #eeeeee; background:#eeeeee; }
.position{ position:absolute; z-index:1;}
.menusel ul{width:125px; background:#eee; border:1px solid #a4a4a4; margin-top: -25px; position:relative; z-index:1; display:none;}

.typeul li{border-bottom:1px dashed #a4a4a4;width:125px; position:relative; float:left; }
.typeul li a{ border:none;width:125px; }
.typeul li a:hover{ border:none; background:#ddd;}
.typeul{  margin-left:101px;  }
.typeul ul{left:125px; top:0; position:absolute;}
.fli{ margin-left: -1px; border-left:#eeeeee solid 1px;}
.menusel .lli{ border:none; }
 */